/**
*   home.html
*   - mudei font-weight do header de 700 para 600 (linha 6644) 
************************************************
*/

* {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
}


.instagram_gallery a:hover {
    opacity: 0.8;
}

.ps-collection__morelink {
    opacity: 0.8;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header a {
    transition: all 0s;
}

.header__actions > li > a i.exist-user {
    font-size: 16px;
}

a#banner-home-btn:hover {
    color: #fff;
}

.header__actions {
    text-align: right;
}

.header__actions span[data-cart=amount] {
    text-align: left;
}

.ps-section--home-3-featured-product {
    padding: 0px 0px 50px 0px;
}

.ps-home8-video {
    padding: 50px 0px 50px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.ps-home8-video .ps-section__header {
    text-align: center;
    margin-bottom: 80px; 

}

.ps-section--instagram {
    padding-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.ps-home8-video .ps-section__header h3 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.3em;
    color: #000; 
}

.ps-home8-video .ps-section__header p {
    font-size: 15px;
    line-height: 1.6em;
    color: rgba(0, 0, 0, 0.5); 
}

/* Icones redes sociais no footer */

.ps-footer--2 .social a {
    margin: 10px 10px 30px 0px;
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    line-height: 26px;
    font-size: 15px;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    vertical-align: bottom;
    background-color: #555555;
}
/**
 * header.html
**/

.header--1 .navigation {
    padding: 10px 0;
}


.header--1 .ps-logo img {
    max-width: 160px;
} 

#logo-mobile {
    max-width: 130px;
    padding-top: 10px;
}



.ps-footer--2 .social a i {
    vertical-align: bottom;
    line-height: 30px;
}

.ps-footer--2 .social a.facebook:hover {
    background-color: #4460ae;
}

.ps-footer--2 .social a.instagram:hover {
    background-color: #cd4378;
}

.ps-footer--2 .social a.pinterest:hover {
    background-color: #bc272a;
}

.ps-footer--2 .social a.youtube:hover {
    background-color: #bc272a;
}

.ps-footer--2 center {
    text-align: left;
    margin-top: 10px;
}

/**
*   catalog.html
*********************************************************
*/

.owl-theme .owl-nav [class*='owl-']:hover {
    background: white;
    color: var(--color-highlight1);
}

.owl-theme .owl-nav {
    margin-top: 0px;
}

.owl-theme .owl-nav [class*='owl-'] {
    margin: 0px 10px 5px 10px;
    color: black;
    background: white;
    font-size: 18px;
}

.ps-filter.visible-xs {
    margin-top: 50px;
}

.ps-product--1 {
    margin-bottom: 40px;
}

.ps-product--1 .ps-product__thumbnail {
    margin-bottom: 10px;
}

.ps-hero__heading.catalog-banner {
    color: #eee;
}

.ps-breadcrumb.catalog-banner > .breadcrumb > li {
    color: #ccc;
}

.ps-breadcrumb.catalog-banner > .breadcrumb > li > a {
    color: #ccc;
}

.ps-badge--unavailable {
    background-color: var(--color-unavailable); 
}

.flex-between {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 0px 10px;
}

.navigator-bottom {
  font-size: 18px;
}

.page-current {
  font-weight: bold;
  color: var(--color-highlight1);
}

.page-link {
  color: var(--color-highlight1);
}


/**
*   product.html
*********************************************************
*/

.ps-product--detail .ps-product__images-large .item img {
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

.ps-product--detail .ps-product__zoom {
    bottom: 5px;
    right: 5px;
}

@media (max-width: 950px) {
    .ps-product--detail .ps-product__images-large .item img {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    } 

    .ps-product--detail .ps-product__zoom {
        bottom: 20px;
        right: 20px;
    }

}


.ps-product__variants {
    margin-bottom: 10px;
}

.ps-product--detail .ps-product__size li.unavailable a:hover {
   border-color: #ffffff; 
} 

#error-msg {
    margin-top: 10px;
    color: var(--color-highlight1);
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
}

#product-payment {
    color: var(--color-highlight1);
    opacity: 0.7;
}

#main-price {
    margin-bottom: 0px;
    margin-top: 10px;
}


/**
*   login.html
*************************************************
*/
.caixa-login {
    margin: 90px 0px 100px 0px; 
    text-align: center;
}

.caixa-login fieldset {
    border: 0px;
}

.caixa-cadastro {
    margin: 90px 0px 100px 0px; 
    text-align: center; 
}

.caixa-cadastro fieldset {
    border: 0px;
}

.titulo-login {
    text-align: center;
}

.caixa-login label, #Vitrine fieldset {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    font-weight:400;
    margin-bottom: 20px;
}

.caixa-login > p {
    margin-top: 0px !important;
}

.cadastro-desc {
    margin-bottom: 20px;
}

.caixa-cadastro input {
    margin-top: 5px;
    width: 310px;
}

@media(max-width: 400px) {
.caixa-cadastro input {
    margin-top: 5px;
    width: 100%; 
    }
}

/**
*   cadastro.html
************************************************
*/

script + .container3 {
    text-align: center;
}

.botao-prosseguir-cadastro {
    margin-top: 10px;
    margin-bottom: 30px;
}

.txt-dados-pessoais {
    margin-top: 30px;
}

form[action^="cadastro_layout"] label, span.cadastro_label {
    color: rgba(0, 0, 0, 0.5);
    margin: 10px 0px 10px 0px;
    font-size: 15px;
    font-weight: 600;
}

form[action^="cadastro_layout"] fieldset {
    border: 0px;
    margin: 0px;
    padding: 0px;
} 

form[action^="cadastro_layout"] .board {
    padding: 0px 20px 0px 20px;
} 

form[action^="cadastro_layout"] input.text,
    form[action^="cadastro_layout"] select,
        #Vitrine input.text {
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    border: solid 1px #dddddd;
    text-indent: 10px;
    padding: 6px 12px;
} 

form[action^="cadastro_layout"] select {
    width: 80px;
    margin-right: 10px;
}

form[action^="cadastro_layout"] input.text:focus {
   border-color: #66afe9; 
} 

.mensagensErro, .blocoAlerta {
    color: var(--color-highlight1); 
}

input[name=endereco_cliente] {
    margin-right: 10px;
}

fieldset ~ br {
    display: none;
}

.obriga.red {
    color: red;
}

@media (max-width: 400px) {
    fieldset input {
        width: 100%;
    }
}

/**
*   search.html
************************************************
*/


.form-control.search-key:focus {
    border-color: var(--color-highlight1);
}

.search-button {
    width: 150px;
}

.suggestion-products {
    columns: 2 150px;
    column-gap: 20px;
}

.suggestion-desc {
    margin: 5px;
    font-size: 16px;
    font-weight: 400;
}

.suggestion-words {
    display: none;
}

.suggestion-title {
    display: none;
}

.suggestion-product {
    display: inline-block;
    margin: 10px;
    transition: opacity 1s ease;
}

.ps-search {
    overflow-y: scroll;
}

#esquilo-footer {
    max-width: 40%;
}

.ps-search__content {
    margin: 50px auto 50px auto;
}

.ps-search-results {
    padding-top: 0px;
}

.search-results-title {
    text-align: center;
    margin: 30px 0px 30px 0px;
}

.search-phrase {
    font-size: 16px;
}

#vitrine-catalogo h1 {
    text-align: center;
    margin: 0;
}

#div_erro {
    margin-top: 10px;
}

#vitrine-catalogo input[title=OK] {
    width: 60px;
}

#vitrine-catalogo select + p {
    margin: 15px 0 15px 0;
}

/**
*   quem somos, map.html
************************************************
*/

.quem-somos-header {
    margin-bottom: 30px;
}


@media (max-width:950px) {
    .banner-quem-somos {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width:951px) {
    .banner-quem-somos {
        padding: 0px;
    }
}

.ps-user {
    margin: 0px auto 40px;
}

.user-photo {
    width: 100%;
    height: 100%;
    z-index: 10;
}

.user-photo :hover {
    opacity: 0.8;
}

.owl-theme .owl-dots .owl-dot > span {
    display: none;
}

/**
*   contato-sim, contato-sim.html
************************************************
*/

.ps-contact i.big {
    font-size: 40px;
    margin-bottom: 10px;
}

.instagram-link:before {
    content: "\f16d";
	font-family: FontAwesome;
}

.ps-block--contact.contact-direct:before {
    font-size: 40px;
    content: "\f1d8";
    font-family: FontAwesome;
    margin-bottom: 10px;
}

.ps-block--contact.contact-whatsapp:before {
    font-size: 40px;
    content: "\f232";
    font-family: FontAwesome;
    margin-bottom: 10px;
}

.ps-block--contact.contact-email:before {
    font-size: 40px;
    content: "\f0e0";
    font-family: FontAwesome;
    margin-bottom: 10px;
}

/**
*   FAQ 
************************************************
*/

.ps-hero.ps-faq {
    padding: 40px 0 40px 0;
}

.ps-main.ps-faq {
    padding: 50px 0px;
}

#lightwindow_overlay {
    display: none;
}

#lightwindow {
    display: none;
}
