<!-- Dev only-->
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> -->


<head>
  <meta charset="UTF-8">
</head>
<!-- end dev only-->

<div class="sc">
  <div class="sc-banner">
    <h1 class="banner-title">Como cuidar da sua Simplist</h1>
  </div>


  <div class="container">

    <!-- linho -->
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-center align-items-center tecido-row">
      <div class="left-side">
        <div class="d-flex justify-content-center align-items-center">
          <img class="imagem" src="https://images.tcdn.com.br/img/editor/up/436102/sc2viscose.jpg">
        </div>
      </div>
      <div class="right-side">
        <div class="bg-white rounded-3 p-5">
          <div class="michael-h1">Linho</div>
          <div class="texto">
            <p>Jamais use água quente: além de encolher a roupa de linho,
              a temperatura alta vai aos poucos degradando a fibra do tecido;</p>
            <p>Utilize o ciclo para roupas delicadas,
              mas se a roupa não estiver tão suja, prefira lavar à mão; </p>
            <p>Não use detergentes biológicos; </p>
            <p>
              Não use máquina secadora, a rotação da máquina e o calor podem causar enrugamentos irreversíveis;
            </p>
          
            <p>Passe com o ferro não muito quente e evite armazenar a peça em locais com muita luz
              para evitar manchas de deslocoração natural dos fios.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- viscose -->
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-center align-items-center tecido-row">
      <div class="left-side">
        <div class="d-flex justify-content-center align-items-center">
          <img class="imagem" src="https://images.tcdn.com.br/img/editor/up/436102/sc2viscose.jpg">
        </div>
      </div>
      <div class="right-side">
        <div class="bg-white rounded-3 p-5">
          <div class="michael-h1">Viscose</div>
          <div class="texto">
            <p>Lavar à mão vai fazer com que sua peça dure por muito tempo, porém caso
              precise lavar na máquina, utilize a função de roupas delicadas;
            </p>
            <p>Não se desespere se ela encolher na lavagem: na hora de lavar, o ferro quente
              voltará com o comprimento de antes;
            </p>
            <p>Ainda na hora de passar, vire a peça ao avesso para evitar brilhos e marcas;</p>
            <p>Nunca lave com água quente.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Crepe -->
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-center align-items-center tecido-row">
      <div class="left-side">
        <div class="d-flex justify-content-center align-items-center">
          <img class="imagem" src="https://images.tcdn.com.br/img/editor/up/436102/sc3crepe.jpg">
        </div>
      </div>
      <div class="right-side">
        <div class="bg-white rounded-3 p-5">
          <div class="michael-h1">Crepe</div>
          <div class="texto">
            <p>Pode ser lavada em água morna e na máquina;</p>
            <p>Deixe o tecido secar em local arejado, de preferência na sombra ou longe da luz direta do sol;</p>
            <p>O ferro à vapor pode ser usado, desde que se utilize um tecido por cima.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Tricô -->
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-center align-items-center tecido-row">
      <div class="left-side">
        <div class="d-flex justify-content-center align-items-center">
          <img class="imagem" src="https://images.tcdn.com.br/img/editor/up/436102/sc4tricot.jpg">
        </div>
      </div>
      <div class="right-side">
        <div class="bg-white rounded-3 p-5">
          <div class="michael-h1">Tricô</div>
          <div class="texto">
            <p>Sim é possível lavar roupas de tricô na máquina! Para que as peças não encolham,
              selecione a opção de roupas delicadas e use sabão líquido;
            </p>
            <p>Lave do lado avesso para evitar formação de bolinhas;</p>
            <p>Para maior tempo de vida da roupa, o recomendado é sempre lavar à mão;</p>
            <p>Nunca pendure em cabides e pregadores, guarde-as dobradas e empilhadas.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Viscolycra -->
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-center align-items-center tecido-row">
      <div class="left-side">
        <div class="d-flex justify-content-center align-items-center">
          <img class="imagem" src="https://images.tcdn.com.br/img/editor/up/436102/sc5viscolycra.jpg">
        </div>
      </div>
      <div class="right-side">
        <div class="bg-white rounded-3 p-5">
          <div class="michael-h1">Viscolycra</div>
          <div class="texto">
            <p>Lavar a viscose à mão é muito mais garantido do que na máquina,
              uma vez que ela se torna frágil quando molhada;
            </p>
            <p>Coloque a roupa para secar na horizontal e deixe que a água escorra naturalmente;</p>
            <p>Evite pregadores;</p>
            <p>Na maioria dos casos não é necessário passar, mas se precisar,
              passe com o ferro não muito quente;
            </p>

            <p>Na hora de guardar, evite os cabides. Dobrar as peças e empilhá-las é a melhor
              forma de mantê-las sempre novas.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Ponto Roma -->
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-center align-items-center tecido-row">
      <div class="left-side">
        <div class="d-flex justify-content-center align-items-center">
          <img class="imagem" src="https://images.tcdn.com.br/img/editor/up/436102/sc6pontoroma.jpg">
        </div>
      </div>
      <div class="right-side">
        <div class="bg-white rounded-3 p-5">
          <div class="michael-h1">Ponto Roma</div>
          <div class="texto">
            <p>A lavagem à seco não é recomendada para este tecido;</p>
            <p>É possível lavar à máquina desde que seja na função roupas delicadas;</p>
            <p>Lave do lado avesso para evitar a formação de bolinhas;</p>
            <p>Ao passar, vire a peça do lado avesso para evitar brilho indesejado;</p>
            <p>Deixe a roupa secar na horizontal longe da luz direta do sol.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Veludo -->
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-center align-items-center tecido-row">
      <div class="left-side">
        <div class="d-flex justify-content-center align-items-center">
          <img class="imagem" src="https://images.tcdn.com.br/img/editor/up/436102/sc7veludo.jpg">
        </div>
      </div>
      <div class="right-side">
        <div class="bg-white rounded-3 p-5">
          <div class="michael-h1">Veludo</div>
          <div class="texto">
            <p>Pode ser lavado em máquina e com água em temperatura ambiente;</p>
            <p>Devem secar naturalmente, pois o calor das secadores pode provocar encolhimento.
              Neste caso a dica é secagem em local fresco e arejado;
            </p>
            <p>Prefira lavar do lado avesso;</p>
            <p>Ao passar, vire-a do lado avesso;</p>
            <p>Se a roupa não estiver muito suja, evite lavar. Para remover manchas, utilize um
              pano úmido e detergente neutro (de cor amarela).
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Viscolinho -->
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-center align-items-center tecido-row">
      <div class="left-side">
        <div class="d-flex justify-content-center align-items-center">
          <img class="imagem" src="https://images.tcdn.com.br/img/editor/up/436102/sc8viscolinho.jpg">
        </div>
      </div>
      <div class="right-side">
        <div class="bg-white rounded-3 p-5">
          <div class="michael-h1">Viscolinho</div>
          <div class="texto">
            <p>Antes de lavar deixe a roupa em lugar arejado para dissolver odores;</p>
            <p>A torção e o tempo que a roupa fica submersa na máquina de lavar podem danificar
              as fibras deste tecido, com isso, é recomendada a lavagem à mão. Se não for possível,
              lave-a na função roupas delicadas;
            </p>
            <p>Evite pregadores e cabides, deixe secar na horizontal;</p>
            <p>Secadores podem encolher o tecido;</p>
            <p>Ao passar, evite ferro muito quente.</p>
          </div>
        </div>
      </div>
    </div>

    
    <!-- Lurex -->
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-center align-items-center tecido-row">
      <div class="left-side">
        <div class="d-flex justify-content-center align-items-center">
          <img class="imagem" src="https://images.tcdn.com.br/img/editor/up/436102/sc9lurex.jpg">
        </div>
      </div>
      <div class="right-side">
        <div class="bg-white rounded-3 p-5">
          <div class="michael-h1">Lurex</div>
          <div class="texto">
            <p>Lavagem na função roupas delicadas;</p>
            <p>Usar água fria, não alvejar;</p>
            <p>Secar em local arejado e longe da luz direta do sol;</p>
            <p>Passe a roupa do lado avesso;</p>
            <p>Evite cabides e guarde a peça dobrada, assim você evita esgarçamento e marcas.</p>
          </div>
        </div>
      </div>
    </div>


    <!-- Seda gloss-->
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-center align-items-center tecido-row">
      <div class="left-side">
        <div class="d-flex justify-content-center align-items-center">
          <img class="imagem" src="https://images.tcdn.com.br/img/editor/up/436102/sc10seedagloss.jpg">
        </div>
      </div>
      <div class="right-side">
        <div class="bg-white rounded-3 p-5">
          <div class="michael-h1">Seda Gloss</div>
          <div class="texto">
            <p>Nunca as armazene em pláticos ou locais com muita claridade, principalmente com muita
              luz do sol, isso pode manchar o tecido;
            </p>
            <p>É recomendado lavar à mão, visto que é um tecido bem delicado. Porém se for necessário
              lavar na máquina, utilize a função de roupas delicadas;
            </p>
            <p>Não torça ou esfregue a roupa;</p>
            <p>Nunca utilize água quente ou centrifugue, sua roupa poderá ser danificada.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Bordado -->
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-center align-items-center tecido-row">
      <div class="left-side">
        <div class="d-flex justify-content-center align-items-center">
          <img class="imagem" src="https://images.tcdn.com.br/img/editor/up/436102/sc11bordado.jpg">
        </div>
      </div>
      <div class="right-side">
        <div class="bg-white rounded-3 p-5">
          <div class="michael-h1">Bordado</div>
          <div class="texto">
            <p>Ao lavar uma peça bordada, use a temperatura máxima de 60ºC;</p>
            <p>Enxague normalmente e use a centrifugação normal/clean;</p>
            <p>É possível secar a peça em tambor rotativo (caso o tecido permita);</p>
            <p>Se for passar a peça, use a temperatura baixa do ferro;</p>
            <p>Jamais passar com ferro a vapor ou qualquer tipo de prensa.</p>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- container end-->


  <div class="sc-banner">
    <h1 class="banner-title">Saiba como medir seu corpo</h1>
  </div>

  <div class="container">
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-center align-items-center tecido-row">
        <div class="d-flex justify-content-center align-items-center">
          <img class="imagem" src="https://images.tcdn.com.br/img/editor/up/436102/sc_como_medir.jpg">
        </div>
        <div class="rounded-3 p-5">
          <div class="texto">
            <p><b>BUSTO:</b> Contorne a fita métrica pelas costas, na altura dos mamilos.</p>
            <p><b>CINTURA:</b> Contorne a fita na parte mais fina da cintura, mais ou menos
              2 ou 3 dedos acima do umbigo.</p>
            <p><b>QUADRIL:</b> Contorne a fita na parte mais larga do bumbum.</p>
          </div>
        </div>
    </div>
  </div>


</div>


<!-- CSS only -->
<style>
  @font-face {
    font-family: 'Michael';
    /* src: url("fonts/Michael.otf"); */
    src: url("https://images.tcdn.com.br/files/436102/themes/75/css/Michael.otf?4663d47acd560a96a28a967a206554fb1654570429");
  }

  @font-face {
    font-family: 'Hearth Stone';
    /* src: url("fonts/Hearth_Stone.otf"); */
    src: url("https://images.tcdn.com.br/files/436102/themes/75/css/Hearth_Stone.otf?4663d47acd560a96a28a967a206554fb1654570603");

  }

  body {
    margin: 0px;
  }

  .sc {
    background-color: #f0eee1;
  }

  .michael-title {
    font-family: 'Michael';
    font-size: 50px;
  }

  .michael-h1 {
    font-family: 'Michael';
    font-size: 40px;
  }

  .michael-h2 {
    font-family: 'Michael';
    font-size: 2rem;
  }

  .sc-banner {
    background-image: url("https://images.tcdn.com.br/img/editor/up/436102/sc_banner_saiba_como_medir.jpg");
    height: 263px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .banner-title {
    font-family: 'Michael';
    font-size: 7vw;
  }

  #first-row {
    margin: 2rem 0 6rem 0;
  }

  .row {
    margin: 90px 0 90px 0;
  }


  .row>* {
    padding-inline: 20px;
  }

  .container {
    margin-inline: auto;
    padding-bottom: 100px;
  }

  .imagem {
    width: 260px;
  }


  .right-side {
    width: 800px;
    margin-top: 40px;
  }

  .tecido-row {
    margin: 100px 0 100px 0;
  }

  .texto>p {
    font-size: 1.8rem !important;
    color: rgba(0, 0, 0, 0.8);
  }

  /* css adjustments for desktop */
  @media (min-width: 992px) {
    .left-side {
      margin-right: 80px;
    }

    .right-side {
      margin-top: 0px;
    }

    .banner-title {
      font-size: 5vw;
    }

    .row {
      margin: 150px 0 150px 0;
    }


    .michael-h1 {
      font-family: 'Michael';
      font-size: 40px;
    }

    .michael-title {
      font-size: 55px;
    }


    /* .row>* {
      padding-inline: 50px;
    } */

  }
</style>