<div class="mss-banner">
  <h1 class="banner-title">Samanta & Simplist</h1>
</div>

<div class="mss">
  <div class="container">
    <div class="row">
      <!-- esquerda -->
      <div class="col-sm-12 col-lg-6 col-mss">
        <!-- samanta-->
        <div class="d-flex flex-column">
          <img src="https://images.tcdn.com.br/img/editor/up/436102/msssam.jpg" class="sam-foto"></img>
          <span class="sam-title">Samanta</span>
          <span class="sam-subtitle fs-2"><i>fashion brand designer - <br> Simplist founder</i></span>
          <span class="fs-2 mt-4 first-letter-big">
            Apaixonada por histórias, decidiu reescrever a sua em 2015, desde então
            é com sua personalidade doce e criativa que nossos enredos são contados
            em formas de coleções.
            Submersa por tecidos, texturas, cores e todo o universo que nos rege, Samanta capta
            os desejos das Simplist lovers.
          </span>
        </div>

      </div>

      <!-- direita -->
      <div class="col-sm-12 col-lg-6 col-mss">
        <div class="quote">
          <span class="handwriting-quote">
            "A idéia de menos é mais sempre me chamou atenção, a beleza
            da mulher que prioriza ser notada primeiro, depois suas roupas,
            me encanta!"
          </span>
          <p class="handwriting-signature">
            Samanta Fernandes
          </p>
        </div>

        <img src="https://images.tcdn.com.br/img/editor/up/436102/msscolagemvisser.jpg" class="colagem-visser"></img>

      </div>

    </div>

    <div class="row mt-5">
      <!-- esquerda -->
      <div class="col-sm-12 col-lg-6 col-mss">
        <img src="https://images.tcdn.com.br/img/editor/up/436102/msscolagemcinza.jpg" class="colagem-visser"></img>
      </div>

      <!-- direita -->
      <div class="col-sm-12 col-lg-6 col-mss d-flex flex-column justify-content-center">
        <p class="como-tudo text-center">Como tudo começou</span>

        <p class="fs-2 mt-4 first-letter-big">Filha de uma tricoteira de primeira, deu seus primeiros
          passos na moda com a pequena confecção da família em São Paulo, foi ali
          entre botões, linhas, máquinas e lãs, ajudava sua mãe na produção e desenhava
          suas próprias roupas.
        </p>
        <p class="fs-2 mt-4"><b>A paixão se concretizou em marca em 2015 quando resolveu apostar
            no seu amor pela moda, deixando de lado sua carreira nas Letras.
          </b></p>
      </div>
    </div>

    <div class="row mt-5">
      <!-- esquerda -->
      <div class="col-sm-12 col-lg-6 col-mss">
        <div class="h-100 d-flex flex-column justify-content-center">
          <p class="sam-title mt-5 text-center">Vestida de Simplist</p>
          <p class="fs-2 mt-4 first-letter-big">
            A Simplist nasceu do desejo de valorizar a feminilidade à sua
            própria maneira. Viver o lifestyle Simplist é poder ser
            quem quiser: romântica, clássica, sexy, moderna. O que importa mesmo é colecionar
            momentos com quem amamos, principalmente nós mesmas!
          </p>
        </div>

      </div>

      <!-- direita -->
      <div class="col-sm-12 col-lg-6 col-mss">
        <img src="https://images.tcdn.com.br/img/editor/up/436102/msscolagembeijo.jpg" class="colagem-visser"></img>
      </div>
    </div>

    <div class="row mt-5 d-flex">
      <div class="d-flex justify-content-center">
        <span class="handwriting-final">"Em todos os seres há pelo menos um ângulo que merece um poema"</span>
      </div>

    </div>
  </div>
</div>

<div class="mss-final-banner">
</div>

<div class="ps-main mss row">
  <div class="w-100 d-flex flex-column justify-content-center align-items-center">
    <p class="sam-title px-1">Slow Fashion</p>
    <p class="fs-2 mt-3 text-center px-1">
      Não temos pressa! <br>
      Não lançamos coleções sazonais, <br>
      não produzimos em grande escala, <br>
      não seguimos tendências. <br>
    </p>

    <p class="fs-2 mt-4 text-center px-1">
      Aqui caminhamos com responsabilidade, <br>
      e o que queremos é escrever a nossa e a sua <br>
      história da maneira mais leve e consciente possível!
    </p>

    <!-- <p class="fs-2 mt-4">Conheça mais sobre a nossa equipe e o nosso processo <a
        href="https://www.simplist.com.br">aqui</a></p> -->
  </div>

</div>

<!-- CSS only -->
<style>
  @font-face {
    font-family: 'Michael';
    /* src: url("fonts/Michael.otf"); */
    src: url("https://images.tcdn.com.br/files/436102/themes/75/css/Michael.otf?4663d47acd560a96a28a967a206554fb1654570429");
  }

  @font-face {
    font-family: 'Hearth Stone';
    /* src: url("fonts/Hearth_Stone.otf"); */
    src: url("https://images.tcdn.com.br/files/436102/themes/75/css/Hearth_Stone.otf?4663d47acd560a96a28a967a206554fb1654570603");

  }

  .mss {
    /* background-color: #f2ede1; */
    background-color: #f0e9df;
  }

  .ps-main {
    padding: 50px 0px;
  }

  .mss-banner {
    display: none;
  }

  .banner-title {
    font-family: 'Michael';
    font-size: 10vw;
    color: white;
  }

  .sam-foto {
    padding: 50px 0 50px 0;
    width: 500px;
  }

  .sam-title {
    font-family: 'Michael';
    font-size: 40px;
  }

  .quote {
    margin: 100px 0 0 0;
    display: flex;
    flex-direction: column;
  }

  .handwriting-quote {
    font-family: 'Hearth Stone';
    font-size: 30px;
    text-align: justify;
    margin-bottom: 30px;
    padding: 0 10px 0px 10px;
  }

  .como-tudo {
    font-family: 'Michael';
    font-size: 35px;
    margin-top: 80px;
  }

  .handwriting-signature {
    font-family: 'Hearth Stone';
    font-size: 25px;
    text-align: end;
  }

  .colagem-visser {
    width: 100%;
    margin-top: 100px;
  }

  .first-letter-big::first-letter {
    float: left;
    font-family: 'Garamond';
    font-size: 100px;
    line-height: 80px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }

  .handwriting-final {
    font-family: 'Hearth Stone';
    font-size: 35px;
    margin-top: 80px;
    padding: 0 10px 0px 10px;
    text-align: center;
  }

  .mss-final-banner {
    background-image: url("https://images.tcdn.com.br/img/editor/up/436102/msscolagemesfinge.jpg");
    height: 953px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    color: #333;
  }

  .row>* {
    padding-inline: 30px;
  }


  @media (min-width: 992px) {

    .mss-banner {
      /* background-image: url(img/mss-banner.jpg); */
      background-image: url("https://images.tcdn.com.br/img/editor/up/436102/mssbanner.jpg");
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .banner-title {
      font-size: 5vw;
    }

    .col-mss {
      padding-inline: 50px;
    }

    .sam-foto {
      padding: 100px 0px 100px 0px;
    }

    .ps-main {
      padding: 100px 0px;
    }

    .como-tudo {
      font-family: 'Michael';
      font-size: 50px;
    }

    .handwriting-quote {
      font-size: 40px;
    }

    .handwriting-signature {
      font-size: 30px;
    }

    .handwriting-final {
      font-size: 45px;
      margin-bottom: 100px;
    }

    .sam-title {
      font-size: 50px;
    }
  }
</style>