<!-- Dev only-->
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@6.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha385-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@6.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha385-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> -->

<head>
  <meta charset="UTF-8">
</head>
<!-- end dev only-->

<div class="sf">
  <div class="container">
    <div class="row feito-brasil">
      <div class="michael-title text-center">
        FEITO NO BRASIL
      </div>
    </div>
    <div class="row" id="first-row">
      <!--esq-->
      <div class="col-sm-12 col-lg-6 d-flex flex-column align-items-center">
        <span class="michael-h1">30%</span>
        <span class="fs-2 text-center">da produção está em São Paulo, onde são produzidos os tricôs, brindes e embalagens</span>
      </div>
      <!--dir-->
      <div class="col-sm-12 col-lg-6 d-flex flex-column align-items-center">
        <span class="michael-h1 setenta-porcento">70%</span>
        <span class="fs-2 text-center">da produção está em Minas Gerais, onde são feitas as modelagens e toda a confecção</span>
      </div>
    </div>
  </div>

  <div class="sf-banner"></div>

  <div class="container">
    <!-- celia barbosa -->
    <div class="row">
      <div class="col-sm-12 col-lg-6 d-flex flex-column align-items-center justify-content-center">
        <span class="michael-h1">Célia Barbosa</span>
        <span class="texto-espaco-bottom fs-2">Está à frente de toda a produção. É ela e sua equipe de mulheres que são
          apaixonadas pelo que fazem,
          que modelam, cortam, costuram, passam e depositam profissionalismo, habilidade e amor em cada processo.
        </span>
      </div>
      <div class="col-sm-12 col-lg-6 d-flex flex-column align-items-center">
        <img class="w-100" src="https://images.tcdn.com.br/img/editor/up/436102/sf2celiabarbosa.jpg">
      </div>
    </div>

    <!-- tricos -->
    <div class="row">
      <div class="col-sm-12 col-lg-6 d-flex flex-column align-items-center">
        <img class="w-100" src="https://images.tcdn.com.br/img/editor/up/436102/sf3sammae.jpg">
      </div>
      <div class="col-sm-12 col-lg-6 d-flex flex-column align-items-start justify-content-center">
        <span class="michael-h1 texto-espaco-top">Os tricôs estão na nossa essência!</span>
        <span class="heranca fs-2">Herança de mãe para filha</span>
        <span class="fs-2">São peças duradouras, feitas à mão, com fios antialérgicos, e de extrema qualidade. São
          criados pela
          Ivonete,
          vulgo Netinha, que é mãe da Sam! Se você leu sobre a história de como a marca começou, vai entender
          a importância do tricô para a Simplist.
        </span>
      </div>
    </div>

    <!-- handwriting -->
    <div class="row">
      <div class="col-sm-12 col-lg-6 d-flex flex-column align-items-center">
        <span class="handwriting">"Me lembro de um caderninho onde eu desenhava todas as blusas que pedia para
          minha mãe fazer. Tenho peças da época do ensino médio e faculdade que já não me servem mais, mas há tanta
          história nelas!"
        </span>
        <img class="img-circulo-sam" src="https://images.tcdn.com.br/img/editor/up/436102/sf5circulosam.jpg">
      </div>
      <div class="col-sm-12 col-lg-6 d-flex flex-column align-items-center">
        <img class="w-100" src="https://images.tcdn.com.br/img/editor/up/436102/sf4maosegurandotricos.jpg">
      </div>
    </div>


    <!-- menos é mais-->
    <div class="row">
      <div class="d-flex align-items-center justify-content-center flex-column">
        <span class="michael-h1">menos é mais</span>
        <span class="saquinhos fs-2">Saquinhos de tricô, tags para guardar no seu livro especial, scrunchies que não
          marcam o
          cabelo,
          menos papéis, menos plásticos, muito mais personalidade, exclusividade e, claro, amor!
          Nossas embalagens foram desenvolvidas para te fascinar ao abrir nossa caixinha, nosso desejo é que você se sinta
          especial e perceba que nada precisa ir para o lixo.
        </span>
        <img src="https://images.tcdn.com.br/img/editor/up/436102/sf7embalagem.jpg" class="d-none d-lg-block">
        <img src="https://images.tcdn.com.br/img/editor/up/436102/sf7embalagemcelular.jpg" class="d-lg-none">
      </div>
    </div>

    <!-- crunchies -->
    <div class="row">
      <div class="col-sm-12 col-lg-6 d-flex flex-column align-items-center">
        <img class="img-scrunchies" src="https://images.tcdn.com.br/img/editor/up/436102/sf6scrunchies.jpg">
      </div>
      <div class="col-sm-12 col-lg-6 d-flex flex-column align-items-center justify-content-center">
        <span class="first-letter-big texto-espaco-top fs-2">As scrunchies que acompanham todas as compras são
          produzidas à
          partir do descarte
          de fios de linhas
          e lãs. São feitas manualmente, uma por uma, e só as Simplist lovers têm!
        </span>
      </div>
    </div>

    <!-- embroidery title -->
    <div class="row">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <span class="michael-title">Embroidery</span>
        <span class="handwriting">por Carolyna Erthal</span>
      </div>

    </div>

    <!-- embroidery text -->
    <div class="row">
      <div class="col-sm-12 col-lg-6 d-flex flex-column align-items-center">
        <img class="img-carol" src="https://images.tcdn.com.br/img/editor/up/436102/sf8carolerthal.jpg">
      </div>
      <div class="col-sm-12 col-lg-6 d-flex flex-column align-items-center justify-content-center">
        <span class="first-letter-big texto-espaco-top fs-2">O mundo elegante e sofisticado do bordado se
          faz
          presente na
          marca pelo talento e delicadeza
          da nossa parceira Carolyna Erthal. O desejo de oferecer peças únicas e exclusivas se concretizou após
          conhecermos
          o trabalho manual da Carol, que nos fascinou com tanta minusciosidade, requinte e propósito. A arte do
          trabalho manual
          sempre foi uma característica forte na Simplist, e somos gratas por tantos talentos ao nosso lado.
        </span>
      </div>
    </div>

    <!-- embroidery pics-->
    <div class="row">
      <img src="https://images.tcdn.com.br/img/editor/up/436102/sf9carolerthalfim.jpg" class="d-none d-lg-block">
      <img src="https://images.tcdn.com.br/img/editor/up/436102/sf9carolerthalcelular1.jpg" class="d-lg-none mb-5">
      <img src="https://images.tcdn.com.br/img/editor/up/436102/sf9carolerthalcelular2.jpg" class="d-lg-none mb-5">
    </div>


  </div>


</div>


<!-- CSS only -->
<style>
  @font-face {
    font-family: 'Michael';
    /* src: url("fonts/Michael.otf"); */
    src: url("https://images.tcdn.com.br/files/436102/themes/75/css/Michael.otf?4663d47acd560a96a28a967a206554fb1654570429");
  }

  @font-face {
    font-family: 'Hearth Stone';
    /* src: url("fonts/Hearth_Stone.otf"); */
    src: url("https://images.tcdn.com.br/files/436102/themes/75/css/Hearth_Stone.otf?4663d47acd560a96a28a967a206554fb1654570603");

  }

  span {
    font-size: 1.5rem;
  }

  .sf {
    background-color: #f0ece1;
  }

  .michael-title {
    font-family: 'Michael';
    font-size: 50px;
  }

  .michael-h1 {
    font-family: 'Michael';
    font-size: 40px;
    margin-bottom: 2rem;
  }

  .michael-h2 {
    font-family: 'Michael';
    font-size: 2rem;
  }

  .sf-banner {
    background-image: url("https://images.tcdn.com.br/img/editor/up/436102/sf1feitonobrasil.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    height: 1142px;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 2rem 0;
  }

  .handwriting {
    font-family: 'Hearth Stone';
    font-size: 30px;
    text-align: center;
  }

  .first-letter-big::first-letter {
    font-family: 'Garamond';
    font-size: 100px;
    line-height: 1rem;
  }

  #first-row {
    margin: 2rem 0 6rem 0;
  }

  .row {
    margin: 90px 0 90px 0;
  }


  .row>* {
    padding-inline: 20px;
  }

  .feito-brasil {
    padding-top: 4rem;
    margin: 0 0 4rem 0 !important;
  }

  .heranca {
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .img-circulo-sam {
    width: 90%;
    margin: 60px 0 60px 0;
  }

  .saquinhos {
    margin: 0 0 80px 0;
  }

  .img-carol {
    width: 80%;
    margin-bottom: 20px;
  }

  .img-carol-fim {
    margin: 20px 0 20px 0;
  }

  .setenta-porcento {
    margin-top: 3rem;
  }

  .texto-espaco-bottom {
    margin-bottom: 3rem;
  }

  .texto-espaco-top {
    margin-top: 3rem;
  }

  .img-scrunchies {
    width: 400px;
    margin-bottom: 20px;
  }

  /* css adjustments for desktop */
  @media (min-width: 992px) {
    .row {
      margin: 8rem 0 8rem 0;
    }

    .setenta-porcento {
      margin: 0;
    }

    .michael-h1 {
      font-family: 'Michael';
      font-size: 50px;
      margin-bottom: 2rem;
    }

    .michael-title {
      font-size: 55px;
    }

    .row>* {
      padding-inline: 50px;
    }

  }
</style>