<div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="home-1" data-source="gallery" style="background:transparent;padding:0px;">
    <!-- START REVOLUTION SLIDER 5.4.6.3.1 fullscreen mode -->
    <div id="rev_slider_3_1" class="rev_slider fullscreenbanner" style="" data-version="5.4.6.3.1">
        <ul>
            {% for slide in banners.extra4.slides %}
            <!-- SLIDE  -->
            <li data-index="rs-7" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power0.easeInOut" data-easeout="default" data-masterspeed="default" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{{ slide.image }}" alt="{{ slide.image }}" title="slider-1" width="1920" height="980" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" loading="eager" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->

                <div class="tp-caption rev-btn " id="slide-7-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','-1','0']" data-y="['top','top','top','middle']" data-voffset="['525','525','512','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"500","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(177,152,112);bs:solid;bw:0 0 0 0;"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[14,14,14,14]" data-paddingright="[45,45,45,45]" data-paddingbottom="[12,12,12,12]" data-paddingleft="[45,45,45,45]" style="z-index: 5; white-space: nowrap; font-size: 11px; line-height: 20px; font-weight: 300; color: rgba(255,255,255,1); letter-spacing: px;font-family:Nunito Sans;text-transform:uppercase;background-color:rgba(0,0,0,0.75);border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a id="banner-home-btn" href="{{ slide.link }}">CONFIRA</a></div>
                {% if slide.label %}
                <!-- LAYER NR. 2 -->
                <div class="tp-caption   tp-resizeme" id="slide-7-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-48','-48']" data-fontsize="['60','60','40','40']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 60px; line-height: 60px; font-weight: 200; color: #000000; letter-spacing: 0px;font-family:Nunito Sans;">{{ slide.label }}</div>
                <!-- LAYER NR. 3 
                <div class="tp-caption   tp-resizeme" id="slide-7-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','-1','-1']" data-y="['top','top','top','middle']" data-voffset="['477','477','469','0']" data-fontsize="['15','15','14','14']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 15px; line-height: 20px; font-weight: 600; color: #111111; letter-spacing: 0px;font-family:Nunito Sans;">
                </div>
                -->
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
</div>