    <div class="ps-section--home-3-featured-product">
        <div class="ps-container-fluid">
            
            <!--
            <div class="ps-section__header text-center">
                <ul class="tab-list" role="tablist">
                    <li class="active"><a  aria-controls="tab_01" role="tab" data-toggle="tab">Destaques</a></li>
                </ul>
            </div>
        -->
            <div class="ps-section__header" style="text-align: center">
                <h3>Destaques</h3>
            </div>
            <div class="tab-content">
                <!-- TAB 01 : DESTAQUES / NEW ARRIVALS -->
                <div class="tab-pane active" role="tabpanel" id="tab_01">
                    <div class="owl-slider" id="owl1" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="true" data-owl-item="4" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="3" data-owl-item-lg="4" data-owl-duration="1000" data-owl-mousedrag="on" checkVisibility="true">

                        {% set products = Products({'filter' : 'featured'}) %}

                        {% for product in products %}

                        <div class="ps-product--1" data-mh="product-item">
                            <div class="ps-product__thumbnail">
                                <img src="{{ product.images[0].full }}"><a class="ps-btn ps-product__shopping" href="{{ product.link }}"><i class="exist-minicart"></i>DETALHES</a>
                            </div>
                            <div class="ps-product__content"><a class="ps-product__title" href="{{ product.link }}"> {{product.name }}</a><span class="ps-product__price">R$ {{product.price }}</span>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div> 