<a href="{{ links.cart }}" class="cart clearfix" data-tray-tst="link_qtde_carrinho">
    <i class="cart-icon pull-left">
        <svg fill="{{ settings.color_icons }}" xmlns="http://www.w3.org/2000/svg" width="23" height="22" viewBox="0 0 25.621 25.601"><path d="M25.597.605a.8.8 0 0 0-.969-.582l-3.203.801a.803.803 0 0 0-.598.652l-.406 2.567L.702 6.406c-.015.004-.027.012-.043.016-.019.003-.035 0-.055.003-.046.013-.082.04-.121.055-.046.02-.089.035-.129.063a.885.885 0 0 0-.144.136c-.023.029-.055.039-.074.067-.004.008-.004.015-.008.024a.808.808 0 0 0-.09.218c-.008.027-.023.052-.027.078a.843.843 0 0 0 .011.328l2.403 9.602.801 3.199c.003.022.019.043.027.063.012.039.031.074.047.109a.755.755 0 0 0 .097.144c.024.032.051.055.079.082a.766.766 0 0 0 .152.106c.031.016.055.034.086.047.09.031.187.054.285.054h16.82a.799.799 0 0 0 .797-.8.798.798 0 0 0-.797-.801H4.624L4.226 17.6h14.992a.832.832 0 0 0 .281-.051c.035-.015.063-.039.094-.058.051-.024.102-.047.145-.082.031-.027.051-.067.082-.099.031-.039.07-.073.098-.121.023-.043.031-.09.047-.137.016-.043.035-.082.047-.125l.004-.019v-.009L22.327 2.25l2.688-.672a.802.802 0 0 0 .582-.973zM3.823 16L1.792 7.886l2.484-.296L5.479 16H3.823zm3.274 0L5.866 7.398l2.496-.297L8.769 16H7.097zm4.945 0h-1.668l-.418-9.09 2.496-.301-.41 9.391zm3.266 0h-1.661l.415-9.582 2.48-.297L15.308 16zm3.207 0h-1.594l1.262-10.078 1.703-.204L18.515 16zM7.202 22.398c-.883 0-1.601.72-1.601 1.603a1.6 1.6 0 1 0 3.203 0c0-.883-.715-1.603-1.602-1.603zm10.414 0a1.603 1.603 0 1 0 .001 3.205 1.603 1.603 0 0 0-.001-3.205zm0 0"/></svg>
    </i>
    <div class="cart-info hidden-xs">
        <div class="cart-amount">
            <span data-cart="amount" data-tray-tst="carrinho_qtde">{{ cart.amount }}</span> {{ Translation('itens') }}
        </div>
        <div class="cart-total">
            {{ settings.currency }} <span data-cart="price" data-tray-tst="carrinho_valor">{{ cart.price }}</span>
        </div>
    </div>
</a>