<div class="ps-section--subscribe">
	<div class="ps-container-fluid">
		<form class="ps-form--subscribe" action="do_action" method="post">
			<h3>Cupom de desconto</h3>
			<p>Ganhe 10% de desconto na sua primeira compra utilizando o cupom abaixo!</p>
			<div class="form-group">
				<input class="form-control" type="text" placeholder="PRIMEIRACOMPRA" readonly="readonly" style="background-color: white;">
			</div>
		</form>
	</div>
</div>