    <!-- exist 
    #
    #
    #
    #     
    #
    #      Links para blog - Página 8 
    #
    #
    #
    #
    #
    #
    -->    
    <div class="ps-home8-blog">
        <div class="container">
            <div class="ps-section__header">
                <h3>From the blog</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <article class="ps-post--vertical">
                        <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="#"></a><img src="{{ asset('img/blog/no-sidebar-1.jpg') }}" alt="">
                            <div class="ps-post__posted"><span class="date">17</span><span class="month">Oct</span></div>
                        </div>
                        <div class="ps-post__content">
                            <h4 class="ps-post__title"><a href="#">Minimalist swimwear by Exist Clothing</a></h4>
                            <p>Pellentesque non malesuada massa. Ut at tortor ipsum. Praesent ultrices pulvinar ultricies.</p><a class="ps-btn--underline ps-post__morelink" href="#">Read more</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <article class="ps-post--vertical">
                        <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="#"></a><img src="{{ asset('img/blog/no-sidebar-1.jpg') }}" alt="">
                            <div class="ps-post__posted"><span class="date">17</span><span class="month">Oct</span></div>
                        </div>
                        <div class="ps-post__content">
                            <h4 class="ps-post__title"><a href="#">Minimalist swimwear by Exist Clothing</a></h4>
                            <p>Pellentesque non malesuada massa. Ut at tortor ipsum. Praesent ultrices pulvinar ultricies.</p><a class="ps-btn--underline ps-post__morelink" href="#">Read more</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <article class="ps-post--vertical">
                        <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="#"></a><img src="{{ asset('img/blog/no-sidebar-1.jpg') }}" alt="">
                            <div class="ps-post__posted"><span class="date">17</span><span class="month">Oct</span></div>
                        </div>
                        <div class="ps-post__content">
                            <h4 class="ps-post__title"><a href="#">A lovingly restored home in Johannesburg</a></h4>
                            <p>Pellentesque non malesuada massa. Ut at tortor ipsum. Praesent ultrices pulvinar ultricies.</p><a class="ps-btn--underline ps-post__morelink" href="#">Read more</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>