<div class="ps-home-1--collection">
    <div class="ps-container-fluid">
        <div class="masonry-wrapper" data-col-md="4" data-col-sm="2" data-col-xs="1" data-gap="30" data-radio="4:3">
            <div class="ps-masonry">
                <div class="grid-sizer"></div>
                <!-- primeira categoria, large-->
                {% set zeroCat = categories[0].children[0] %}
                {% set oneCat = categories[0].children[1] %}
                {% set twoCat = categories[0].children[2] %}
                {% set threeCat = categories[0].children[3] %}
                {% set fourCat = categories[0].children[4] %}
                <div class="grid-item large">
                    <div class="grid-item__content-wrapper">
                        <div class="ps-collection">
                            <a class="ps-collection__morelink" href="{{ threeCat.link }}">{{ threeCat.name }}</a>
                            <img class="ps-fullwidth" loading="lazy" src="{{ banners.extra5.slides[0].image }}" alt=""></div>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="grid-item__content-wrapper">
                        <div class="ps-collection">
                            <a class="ps-collection__morelink" href="{{ oneCat.link }}">{{ oneCat.name }}</a>
                            <img class="ps-fullwidth" loading="lazy" src="{{ banners.extra5.slides[1].image }}" alt="">
                        </div>
                    </div>
                </div>

                <div class="grid-item">
                    <div class="grid-item__content-wrapper">
                        <div class="ps-collection">
                            <a class="ps-collection__morelink" href="{{ twoCat.link }}">{{ twoCat.name }}</a>
                            <img class="ps-fullwidth" loading="lazy" src="{{ banners.extra5.slides[2].image }}" alt="">
                        </div>
                    </div>
                </div>

                <div class="grid-item">
                    <div class="grid-item__content-wrapper">
                        <div class="ps-collection">
                            <a class="ps-collection__morelink" href="{{ fourCat.link }}">{{ fourCat.name }}</a>
                            <img class="ps-fullwidth" loading="lazy" src="{{ banners.extra5.slides[3].image }}" alt="">
                        </div>
                    </div>
                </div>

                <div class="grid-item">
                    <div class="grid-item__content-wrapper">
                        <div class="ps-collection">
                            <a class="ps-collection__morelink" href="{{ zeroCat.link }}">{{ zeroCat.name }}</a>
                            <img class="ps-fullwidth" loading="lazy" src="{{ banners.extra5.slides[4].image }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
