<ul class="payment-list foo-payment row">
    {% for payment in paymentMethods.order %}
        <li class="col-sm-2 col-xs-2 payment-form">
            <img src="{{ payment.thumbnail.url }}" alt="{{ payment.display_name }}">
        </li>
    {% endfor %}
    {% for payment in paymentMethods.credit %}
        <li class="col-sm-2 col-xs-2 payment-form">
            <img src="{{ payment.thumbnail.url }}" alt="{{ payment.display_name }}">
        </li>
    {% endfor %} 
</ul>