<div class="ps-product--1" data-mh="product-item">
    <div class="ps-product__thumbnail">
        {% if product.price_offer > 0 %}
            <div class="ps-badge ps-badge--sale-off ps-badge--1st"><span>SALE</span></div>
        {% endif %}
        {% if product.free_shipping %}
            <div class="ps-badge ps-badge--new"><span>FRETE GRÁTIS</span></div>
        {% endif %}
        {% if product.stock == "0" %}
            <div class="ps-badge ps-badge--unavailable"><span>INDISPONÍVEL</span></div>
        {% endif %}
        <img src="{{ product.images[0].full }}" alt="" loading="lazy"><a class="ps-btn ps-product__shopping" href="{{ product.link }}"><i class="exist-minicart"></i>Detalhes</a>
    </div>
    <div class="ps-product__content"><a class="ps-product__title" href="{{ product.link }}"> {{ product.name }} </a>
        <span class="ps-product__price">
            {% if product.price_offer > 0 %}
                R$ {{ product.price_offer }} <del>R$ {{ product.price }}</del>
            {% else %}
                R$ {{ product.price }}
            {% endif %}
        </span>
    </div>
</div>