<div class="search">
    <form role="form" action="{{ links.search }}" method="get" data-search="suggestion">
        <input type="hidden" name="loja" value="{{ store.id }}">
        <button class="search-button pull-right" type="submit" tabindex="2" data-tray-tst="botao_buscar">
            <svg fill="{{ settings.color_icons }}" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 425.2 425.199"><path d="M414.792 364.542l-92.371-92.37c-.49-.491-1.066-.834-1.58-1.291 18.176-27.571 28.785-60.575 28.785-96.067C349.624 78.267 271.358 0 174.812 0 78.267 0 0 78.267 0 174.812s78.265 174.813 174.811 174.813c35.494 0 68.496-10.608 96.067-28.784.457.512.799 1.088 1.289 1.578l92.375 92.374c13.875 13.875 36.373 13.875 50.25 0 13.875-13.877 13.875-36.375 0-50.251zm-239.98-75.519c-63.078 0-114.212-51.134-114.212-114.211C60.6 111.734 111.735 60.6 174.812 60.6c63.075 0 114.21 51.136 114.21 114.212 0 63.077-51.135 114.211-114.21 114.211z"/></svg>
        </button>
        <div>
            <input class="search-key" type="text" data-input="suggestion" placeholder="{{ Translation('buscar') }}" name="palavra_busca" tabindex="1" data-tray-tst="busca_palavra" required>
        </div>
    </form>
</div>