
				<!--<li><a href="#tab_02" aria-controls="tab_02" role="tab" data-toggle="tab">Sale</a></li> -->


                <!-- TAB 02 : SALE -->
                <!-- 
                <div class="tab-pane" role="tabpanel" id="tab_02">
                    <div class="row">

                        {% set products = Products({
                            'categories' : 61,
                            'limit' : 8,
                            'order' : {'id' : 'desc'}
                        }) %}
        
                        {% for product in products %}

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">

                            {% element 'snippets/product-card' {
                                'product': product
                            } %}
                        </div>

                        {% endfor %}
                        

                    </div>
                    {% set category = Categories( {"id": "61"}) %}
                    <div class="row">
                        <div class="ps-shop__morelink text-center mt-30"><a class="ps-btn ps-btn--black" href="{{ category.link }}">MAIS</a></div>
                    </div>
                </div>
            -->