    <div class="ps-home8-video" loading="lazy">
        <div class="container">
            <div class="ps-section__header">
                <h3>Fashion films</h3>
                <p>@youtube</p>
            </div>
            <div class="ps-video">
                <div class="video-container">
                    <iframe loading="lazy" class="video" width="100%" height="100%" src="https://www.youtube.com/embed/f4YePx5vekQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>  