<footer class="ps-footer--2 gray">
    <div class="ps-footer__content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                    <div class="ps-site-info"><a class="ps-logo" id="esquilo-footer" href="{{ links.home }}"><img
                                src="{{ asset('img/esquilo3.png') }}" alt=""></a>

                        <p class="social">
                            <a href="https://instagram.com/simplist__" class="instagram external"
                                data-animate-hover=""><i class="fa fa-instagram"></i></a>
                            <a href="https://www.pinterest.com/simstore/" class="pinterest external"
                                data-animate-hover=""><i class="fa fa-pinterest-p"></i></a>
                            <a href="https://www.youtube.com/channel/UCmCe8NuaoZU-IrVKgIQeygw" class="youtube external"
                                data-animate-hover=""><i class="fa fa-youtube-play"></i></a>
                        </p>

                        <div class="ps-site-info__detail">
                            <p><span>Telefone</span>(31) 99766-1411</p>
                            <p><span>Email</span><a href="#">contato@simplist.com.br</a></p>
                            <p><span>Horários</span> 8am - 5pm</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                    <div class="ps-col-tiny">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                <div class="widget widget_categories">
                                    <h3 class="widget-title">Suporte</h3>
                                    <ul>
                                        <li><a href="https://www.simplist.com.br/faq">FAQ</a></li>
                                        <li><a href="{{ links.send }}">Formas de envio</a></li>
                                        <li><a href="https://www.simplist.com.br/trocas">Trocas e devoluções</a></li>
                                        <li><a href="{{ links.security }}">Segurança</a></li>
                                        <div id="selo-protegida">{{ seals.hackersafe }}</div>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                <div class="widget widget_categories">
                                    <h3 class="widget-title">Sobre</h3>
                                    <ul>

                                        <li><a href="{{ links.map }}">Quem somos</a></li>
                                        <li><a href="https://simplist.com.br/contato-sim">Contato</a></li>
                                        <br>
                                    </ul>
                                    <h3 class="widget-title">Formas de pagamento</h3>
                                    {% for payment in paymentMethods.order %}
                                    <img src="{{ payment.thumbnail.url }}" alt="{{ payment.display_name }}">
                                    {% endfor %}
                                    {% for payment in paymentMethods.credit %}
                                    <img src="{{ payment.thumbnail.url }}" alt="{{ payment.display_name }}">
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- exist arrox
        ---
        ---
        --- 
    -->
    <div id="back2top">Topo <i class="fa fa-arrow-up"></i></div>

    <div id="btn-buscar-hidden" style="display: none;">{{ asset('img/botao-busca.jpg') }}</div>

</footer>