<header class="header header--1" data-sticky="true">
  <nav class="navigation">
    <div class="ps-container-fluid">
      <div class="left">
        <a class="ps-logo" href="{{ links.home }}">
          <img src="{{ asset('img/logo-main3.png') }}" class="hidden-xs">
          <img src="{{ asset('img/logo-main3.png') }}" class="visible-xs" id="logo-mobile">
        </a>
      </div>
      <div class="center">
        <ul class="menu">
          {% if pages.current == 'home' %}
          <li class="current-menu-item">
            {% else %}
          <li class="">
            {% endif %}
            <a href="{{ links.home }}">Home</a>
          </li>

          {% if pages.current == 'catalog' %}
          <li class="menu-item-has-children current-menu-item dropdown">
            {% else %}
          <li class="menu-item-has-children dropdown">
            {% endif %} {% set category = Categories( {"id": "3"}) %}
            <a href="{{ category.link }}">Shop</a>
            <ul class="sub-menu">
              <!-- <li><a href="{{ category.link }}">Todas</a></li> -->
              {% for category in categories %} {% if category.name == "Produtos" %} {% for subcategory in
              category.children %}
              <li><a href="{{ subcategory.link }}">{{ subcategory.name }}</a></li>
              {% endfor %} {% endif %} {% endfor %} {% set category = Categories( {"id": "61"}) %}
            </ul>
          </li>
          {% set category = Categories( {"id": "67"}) %}
          <li><a href="{{category.link}}">{{ category.name }}</a>
            <!-- <ul class="sub-menu">
                                    <li><a href="{{ category.link }}">Elas & Elos</a></li>
                                    {% set category = Categories( {"id": "50"}) %}
                                    <li><a href="{{ category.link }}">Vic Ferreira</a></li>
                                </ul> -->
          </li>


          <li class="menu-item-has-children dropdown"><a href="https://www.simplist.com.br/sam-simplist">ABOUT US</a>
            <ul class="sub-menu">
              <li><a href="https://www.simplist.com.br/sam-simplist">Samanta & Simplist</a></li>
              <li><a href="https://www.simplist.com.br/savoir-faire">Savoir Faire</a></li>
              <li><a href="https://www.simplist.com.br/faq">FAQ</a></li>
              <li><a href="https://www.simplist.com.br/contato-sim">Contato</a></li>
            </ul>
          </li>
          <!-- <li><a href="#">BLOG</a></li> -->
        </ul>
      </div>
      <div class="right">
        <div class="menu-toggle"><span></span></div>
        <ul class="header__actions">
          <li><a class="ps-search-btn" href="#"><i class="exist-search"></i></a></li>
          <li class="header__user">
            <a href="{{ links.login }}" id="shopping-action"><i class="exist-user"></i></a>
          </li>
          <!-- <li class="header__user" id="header-immut"><a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="shopping-action"><i class="exist-user"></i></a>
                        <ul class="dropdown-menu" aria-labelledby="shopping-action" id="shopping-action">
                            <li><a href="{{ links.login }}">Login</a></li>
                            <li><a href="{{ links.register }}">Cadastro</a></li>
                        </ul>
                    </li> -->
          <li class="header__cart">
            <a class="ps-shopping" href="{{ links.cart }}" id="shopping-cart">
              <i class="exist-minicart"></i>
              <span data-cart="amount" style="background-color: #ffffff;">{{ cart.amount }}</span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="ps-search search">
  <div class="ps-search__content"><a class="ps-search__close" href="#"><span></span></a>
    <form class="ps-form--search-2" action="{{ links.search }}" method="get" data-search="suggestion">
      <h3>O que você procura?</h3>
      <input type="hidden" name="loja" value="{{ store.id }}">
      <div class="form-group">
        <input class="form-control search-key" type="text" data-input="suggestion" name="palavra_busca"
          data-tray-tst="busca_palavra" placeholder="">
        <button class="ps-btn ps-btn--black ps-btn--fullwidth search-button" type="submit"
          data-tray-tst="botao_buscar">Buscar</button>
      </div>
    </form>
  </div>
</div>