
#rev_slider_3_1 .custom-nav.tparrows {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0)
}

#rev_slider_3_1 .custom-nav.tparrows:before {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #000;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

#rev_slider_3_1 .custom-nav.tp-leftarrow:before {
    content: "\f177";
    font-family: FontAwesome;
    color: #000
}

#rev_slider_3_1 .custom-nav.tp-rightarrow:before {
    content: "\f178";
    font-family: FontAwesome
}

#rev_slider_3_1 .custom-nav.tp-leftarrow:after {
    content: 'Back';
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 2px;
    color: #111111;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 100%;
    text-transform: uppercase
}

#rev_slider_3_1 .custom-nav.tp-rightarrow:before {
    content: "\f178";
    font-family: FontAwesome
}

#rev_slider_3_1 .custom-nav.tp-rightarrow:after {
    content: 'Next';
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 20px;
    color: #111111;
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 100%;
    text-transform: uppercase
}

#rev_slider_3_1 .custom-nav.tparrows:hover {
    color: var(--color-highlight1);
}
