{% spaceless %}
<!doctype html>
<html data-theme="{{ settings.extension_id }}" data-store="{{ store.id }}" class="page-{{ pages.current }}">
<head>

    <!-- tray charset -->
    {{ html.charset() }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- tray meta tags -->
    {{ tray.meta }}

    <!-- tray analytics -->
    {{ tray.analytics }}
    <!-- tray google tag manager -->
    {{ googleTagManager.header(pages.current, tagManagerData) }}

    <!-- exist index head -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="shortcut icon" href="{{ asset('img/favicon3.png') }}">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Simplist</title>
    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700%7CDroid+Serif:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('js/plugins/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('js/plugins/exist-font/style.css') }}">

    <!-- CSS Library-->
    <!-- <link rel="stylesheet" href="{{ asset('js/plugins/bootstrap/dist/css/bootstrap.min.css') }}"> -->
    <!-- updated bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('js/plugins/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('js/plugins/owl-carousel/assets/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('js/plugins/owl-carousel/assets/owl.theme.default.css') }}"> 
    <link rel="stylesheet" href="{{ asset('js/plugins/bootstrap-select/dist/css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ asset('js/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css') }}">
    <link rel="stylesheet" href="{{ asset('js/plugins/slick/slick/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('js/plugins/magnific-popup/dist/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('js/plugins/animate.css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('js/plugins/jquery-ui/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('js/plugins/revolution/css/settings.css') }}">
    <link rel="stylesheet" href="{{ asset('js/plugins/revolution/css/layers.css') }}">
    <link rel="stylesheet" href="{{ asset('js/plugins/revolution/css/navigation.css') }}">

    <!-- exist custom -->
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('css/sliders/slider-1.css') }}">




</head>
<body class="ps-loading">
    <!-- tray -->
    {{ googleTagManager.top(pages.current, tagManagerData) }}

    <!-- end of tray -->

    {% element 'header' %}

    {{ content_for_layout }}
    
    {% element 'footer' %} 

    <!-- 
      --
      --
      -- JS Library
      --
      --
      -- 
    -->
        <!-- tray -->
        {{ googleTagManager.bottom(pages.current, tagManagerData) }}
        <!-- tray scripts beg-->
        {{ tray.scripts }}
        <!-- tray scripts end-->
        {{
                html.script({
                    '0' : tray.paths.js ~ 'dist/application.min.js?' ~ utils.assets_version,
                    '1' : tray.paths.js ~ 'init.js?' ~ utils.assets_version
                })
        }}
    <script type="text/javascript" src="{{ asset('js/plugins/jquery/dist/jquery.min.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ asset('js/plugins/bootstrap/dist/js/bootstrap.min.js') }}"></script> -->
    <!-- updated bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <!-- Custom scripts-->
    <script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>

    <!-- slider-->
    <script type="text/javascript" src="{{ asset('js/plugins/revolution/js/jquery.themepunch.tools.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/revolution/js/jquery.themepunch.revolution.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/revolution/js/extensions/revolution.extension.navigation.min.js') }}"></script> 
    <script type="text/javascript" src="{{ asset('js/plugins/revolution/js/extensions/revolution.extension.actions.min.js') }}"></script>
    <script src="{{ asset('js/slider_1.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ asset('js/plugins/revolution/js/extensions/revolution.extension.parallax.min.js') }}"></script> -->
    <!-- <script type="text/javascript" src="{{ asset('js/plugins/revolution/js/extensions/revolution.extension.video.min.js') }}"></script> -->
    <!-- end slider-->

    <script defer type="text/javascript" src="{{ asset('js/plugins/owl-carousel/owl.carousel.min.js') }}"></script>
    <script defer type="text/javascript" src="{{ asset('js/plugins/bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ asset('js/plugins/jquery-bar-rating/dist/jquery.barrating.min.js') }}"></script> -->
    <!-- <script type="text/javascript" src="{{ asset('js/plugins/masonry.pkgd.min.js') }}"></script> -->
    <script defer type="text/javascript" src="{{ asset('js/plugins/imagesloaded.pkgd.js') }}"></script>
    <script defer type="text/javascript" src="{{ asset('js/plugins/isotope.pkgd.min.js') }}"></script>
    <script defer type="text/javascript" src="{{ asset('js/plugins/slick/slick/slick.min.js') }}"></script>
    <script defer type="text/javascript" src="{{ asset('js/plugins/jquery.matchHeight-min.js') }}"></script>
    <script defer type="text/javascript" src="{{ asset('js/plugins/magnific-popup/dist/jquery.magnific-popup.min.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ asset('js/plugins/wow.min.js') }}"></script> -->
    <script defer type="text/javascript" src="{{ asset('js/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    <!--<script type="text/javascript" src="{{ asset('js/plugins/gmap3.min.js') }}"></script> -->

    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAckIeA7eVaNv2fKmIKl-udHqlZW2tYxME&amp;region=GB"></script> -->
    <script defer type="text/javascript" src="{{ asset('js/plugins/jquery.instagramFeed.js') }}"></script>

    <!-- exist end -->



</body>
</html>
{% endspaceless %}