<!-- Banner no topo -->
<div class="ps-hero bg--cover" data-background="{{ banners.extra6.slides[0].image }}">
    <div class="container">
        <h2 class="ps-hero__heading catalog-banner">{{category.name}}</h2>
        <h2 id="categoryid" style="display: none;">{{category.id}}</h2>
        <div class="ps-breadcrumb catalog-banner">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Shop</li>
            </ol>
        </div>
    </div>
</div>

<!-- Menu de categorias -->
<main class="ps-main">
    <div class="container">
        <div class="ps-shop">
            <div class="ps-filter hidden-xs">
                <ul class="ps-filter__categories">
                    {% for category in categories %} {% if category.name == "Produtos" %} {% for subcategory in category.children %}
                    <li><a href="{{ subcategory.link }}">{{ subcategory.name }}</a></li>
                    {% endfor %} {% else %}
                    <li><a href="{{ category.link }}">{{ category.name }}</a></li>
                    {% endif %} {% endfor %}
                </ul>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ps-product-column" style="display:none;">
                    <div class="ps-product--1" data-mh="product-item">
                        <div class="ps-product__thumbnail">
                            <div class="ps-badge ps-badge--sale-off" style="display:none"><span>SALE</span></div>
                            <div class="ps-badge ps-badge--new" style="display:none"><span>FRETE GRÁTIS</span></div>
                            <div class="ps-badge ps-badge--unavailable" style="display:none"><span>INDISPONÍVEL</span></div>
                            <img src="" alt="">
                            <a class="ps-btn ps-product__shopping" href=""><i class="exist-minicart"></i>DETALHES</a>
                        </div>
                        <div class="ps-product__content"><a class="ps-product__title" href="">nome do produto</a>
                            <span class="ps-product__price">
                            R$ 20
                        </span>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="ps-shop__morelink text-center mt-30" id="load-more-btn" style="display: none;"><a class="ps-btn ps-btn--black" href="">MAIS</a></div>
            </div>


            <div class="ps-filter visible-xs">
                <ul class="ps-filter__categories">
                    {% for category in categories %} {% if category.name == "Produtos" %} {% for subcategory in category.children %}
                    <li><a href="{{ subcategory.link }}">{{ subcategory.name }}</a></li>
                    {% endfor %} {% else %}
                    <li><a href="{{ category.link }}">{{ category.name }}</a></li>
                    {% endif %} {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>