<script>
    document.title = "Quem somos";
</script>
<div class="ps-hero bg--cover" data-background="{{ banners.extra6.slides[1].image }}">
    <div class="container">
        <h2 class="ps-hero__heading">Quem somos</h2>
        <div class="ps-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="{{ links.home }}">Home</a></li>
                <li><a href="">A marca</a></li>
                <li class="active">Quem Somos</li>
            </ol>
        </div>
    </div>
</div>
<main class="ps-main">
    <div class="container">
        <div class="ps-col-tiny">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="ps-user">
                        <div class="ps-user__thumbnail"><a class ="user-photo" href="https://www.instagram.com/samantafernandes__"><img src="{{ banners.extra8.slides[0].image }}" alt=""></a></div>
                        <div class="ps-user__content"><a class="ps-user__title" href="https://www.instagram.com/samantafernandes__">Samanta Fernandes</a>
                            <p>Brand Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="ps-user">
                        <div class="ps-user__thumbnail"><a class ="user-photo" href="https://www.instagram.com/daniel.bkn"><img src="{{ banners.extra8.slides[1].image }}" alt=""></a></div>
                        <div class="ps-user__content"><a class="ps-user__title" href="https://www.instagram.com/daniel.bkn">Daniel Buckentin</a>
                            <p>Tecnologia</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="ps-user">
                        <div class="ps-user__thumbnail"><a class ="user-photo" href="https://www.instagram.com/flerteoficial"><img src="{{ banners.extra8.slides[2].image }}" alt=""></a></div>
                        <div class="ps-user__content"><a class="ps-user__title" href="https://www.instagram.com/flerteoficial">Célia Barbosa</a>
                            <p>Confecção</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="ps-user">
                        <div class="ps-user__thumbnail"><a class ="user-photo" href="https://www.instagram.com/oyama.assessoriavirtual"><img src="{{ banners.extra8.slides[3].image }}" alt=""></a></div>
                        <div class="ps-user__content"><a class="ps-user__title" href="https://www.instagram.com/oyama.assessoriavirtual">Roberta Camargo</a>
                            <p>Financeiro</p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- rev consumo -->
            <div class="row">

                <div class="banner-quem-somos col-md-6">
                    <img src="{{ banners.extra7.slides[0].image }}">
                </div>
                <div class="banner-quem-somos col-md-6">
                    <img src="{{ banners.extra7.slides[1].image }}">
                </div>
            </div>

            <!-- sustentabilidade -->
            <div class="row">
            
                <div class="banner-quem-somos col-md-6 col-md-push-6">
                    <img src="{{ banners.extra7.slides[3].image }}">
                </div>
                <div class="banner-quem-somos col-md-6 col-md-pull-6">
                    <img src="{{ banners.extra7.slides[2].image }}">
                </div>
            </div>

            <!-- producao -->
            <div class="row">
            
                <div class="banner-quem-somos col-md-6">
                    <img src="{{ banners.extra7.slides[4].image }}">
                </div>
                <div class="banner-quem-somos col-md-6">
                    <img src="{{ banners.extra7.slides[5].image }}">
                </div>
            </div>

            <!-- collab -->
            <div class="row">
            
                <div class="banner-quem-somos col-md-6 col-md-push-6">
                    <img src="{{ banners.extra9.slides[1].image }}">
                </div>
                <div class="banner-quem-somos col-md-6 col-md-pull-6">
                    <img src="{{ banners.extra9.slides[0].image }}">
                </div>
            </div>

            <!-- urban brand -->
            <div class="row">
            
                <div class="banner-quem-somos col-md-6">
                    <img src="{{ banners.extra9.slides[2].image }}">
                </div>
                <div class="banner-quem-somos col-md-6">
                    <img src="{{ banners.extra9.slides[3].image }}">
                </div>
            </div>

            <!-- mascote -->
            <div class="row">
                <div class="banner-quem-somos col-md-6 col-md-push-6">
                    <img src="{{ banners.extra10.slides[1].image }}">
                </div>
                <div class="banner-quem-somos col-md-6 col-md-pull-6">
                    <img src="{{ banners.extra10.slides[0].image }}">
                </div>
            </div>

            <!-- por que sim-->
            <div class="row">
                <div class="banner-quem-somos col-md-6">
                    <img src="{{ banners.extra10.slides[2].image }}">
                </div>
                <div class="banner-quem-somos col-md-6">
                    <img src="{{ banners.extra10.slides[3].image }}">
                </div>
            </div>

            <!-- founder -->
            <div class="row">
                <div class="banner-quem-somos col-md-6 col-md-push-6">
                    <img src="{{ banners.extra10.slides[5].image }}">
                </div>
                <div class="banner-quem-somos col-md-6 col-md-pull-6">
                    <img src="{{ banners.extra10.slides[4].image }}">
                </div>
            </div>
        </div>
    </div>
</main>

<img src="{{ asset('css/Hearth_Stone.otf') }}">



