<div class="ps-breadcrumb ps-breadcrumb--2">
    <div class="ps-container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 ">
                <ol class="breadcrumb">
                    <li><a href="{{ links.home }}">Home</a></li>
                    {% set category = Categories( {"id": product.category_id} ) %}
                    <li><a href="{{ category.link }}">Shop</a></li>
                    <li><a href="{{ category.link }}">{{ category.name }}</a></li>
                    <li class="active">{{ product.name }}</li>
                </ol>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <ul class="ps-breadcrumb__link">
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="ps-product--detail">
    <div class="ps-container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                <div class="ps-product__thumbnail">
                    <div class="ps-product__images-large">
                        {% for image in product.images %}
                        <div class="item"><img src="{{ image.full }}" alt=""><a class="ps-product__zoom single-image-popup" href="{{ image.full }}"><i class="exist-zoom"></i></a></div>
                        {% endfor %}
                    </div>
                    <div class="ps-product__nav">
                        {% for image in product.images %}
                        <div class="item"><img src="{{ image.large }}" alt=""></div>
                        {% endfor %}
                    </div>
                    <div class="clearfix"></div>
                    {% if product.video != '' %}
                    <div class="ps-product__video"><a class="video-popup" href="{{ product.video }}"><i class="exist-play"></i>Vídeo</a></div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                <div class="ps-product__info">
                    <h1 class="ps-product__title">{{ product.name }}</h1>
                    {% if product.stock %} {% if product.price_offer > 0 %}
                    <div style="display: inline-block">
                        <h4 class="ps-product__price" id="main-price">R$ {{product.price_offer }}</h4>
                        <h4 style="color: rgb(0, 0, 0, 0.4)"><del> R$ {{product.price }} </del></h4>
                    </div>
                    {% else %}
                    <h4 class="ps-product__price" id="main-price">R$ {{product.price }}</h4>
                    {% endif %}
                    <div class="ps-product__rating">
                        <span id="product-payment">{{product.payment}}</span> {% if product.free_shipping %}
                        <span style="color:#b19870">
                                    (Frete Grátis)
                                </span> {% endif %}
                    </div>
                    {% else %}
                    <h4 class="ps-product__price">Indisponível</h4>
                    {% endif %}


                    <div class="ps-product__short-desc">
                        <p>{{ product.additional_message }}</p>
                    </div>
                    <div class="ps-product__divider"></div>
                    <div class="ps-product__variants">
                        <h5 class="mt-30"> Tamanho </h5>
                        {% if product.has_variation %}
                        <ul class="ps-product__size">
                        </ul>
                        {% else %}
                        <span id="single-size">Único</span><br> {% endif %}
                    </div>
                    <div class="ps-product__shopping">
                        <div class="form-group form-group--number">
                            <input class="form-control" type="text" value="1"><span class="down">-</span><span class="up">+</span>
                        </div>
                        <button class="ps-btn ps-btn--black" id="btn-comprar" onClick="addToCart({{ product.id }})"><i class="exist-minicart mr-5"></i> COMPRAR</button>
                        <div id="error-msg" style="display:none;"></div>

                    </div>
                    <div class="product-id-tray" id="{{product.id}}" style="display:none"></div>
                    <div class="ps-product__divider"></div>
                    <p class=""><i class="fa fa-truck"></i> Frete <b>grátis</b> para compras acima de R$ 400</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-product__content">
        <div class="ps-container-fluid">
            <ul class="tab-list" role="tablist">
                <li class="active"><a href="" aria-controls="tab_01" role="tab" data-toggle="tab">Descrição</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel" id="tab_01">
                    <div class="ps-content">
                        {{ product.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ps-section--relate-products">
    <div class="ps-container-fluid">
        <div class="ps-section__header text-center mb-80">
            <h3 class="ps-heading">Produtos Relacionados</h3>
        </div>
        <div class="ps-slider--related-products owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="20" data-owl-nav="true" data-owl-dots="false" data-owl-item="4" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1"
            data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on">
            {% for product in product.related_products %} {% element 'snippets/product-card' { 'product': product } %} {% endfor %}
        </div>
    </div>
</div>