<div class="ps-breadcrumb ps-breadcrumb--2">
    <div class="ps-container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 ">
                <ol class="breadcrumb">
                    <li><a href="{{ links.home }}">Home</a></li>
                    <li>BUSCA</li>
                    <li class="active">"{{ search.word }}"</li>
                </ol>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <ul class="ps-breadcrumb__link">
                </ul>
            </div>
        </div>
    </div>
</div>


<h3 class="ps-heading search-results-title">Resultados da pesquisa</h3>

<!-- RESULTADOS DA BUSCA -->
<main class="ps-main ps-search-results">
    <div class="container">
        <div class="ps-shop">
            <div class="ps-filter">
                <ul class="ps-filter__categories">
                    <span class="search-phrase">Encontramos <strong>{{ paginate.counter('{:count}') }}</strong> produtos relacionados com a palavra <strong>"{{search.word}}"</strong></span>
                </ul>
            </div>
            
            {% if products|length > 0 %}
            
            <div class="row">
                {% for product in products %}
                
                <div class="ps-product-column">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">

                        {% element 'snippets/product-card' {
                            'product': product
                        } %} 
                        
                    </div>
                </div>
                
                {% endfor %}
            </div>

                <div class="row">
                {% if paginate.hasNext %}

                    <div class="ps-shop__morelink text-center mt-30" id="load-more-btn">
                            {{ paginate.next('MAIS', {'class': 'page-next'}) }}
                        <a class="ps-btn ps-btn--black" href="" style="display: none;">MAIS</a></div>

                {% endif %}

                {% if paginate.hasPrev %}
                    <div class="ps-shop__morelink text-center mt-30" id="load-more-btn">
                        {{ paginate.prev('VOLTAR', {'class': 'page-prev'}) }}
                        <a class="ps-btn ps-btn--black" href="" style="display: none;">MAIS</a></div>

                {% endif %}
                </div>
            
        {% else %}
            
            <h3 class="ps-heading">Nenhum produto encontrado</h3>                
            
        {% endif %}
        </div>
    </div>
</main>
